[Unit]
Description=Logger Daemon Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/cws2Server/bin/LoggerDaemon
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
